<div class="lesson-container">
  <h2 class="lesson-title">{{ lesson.title }}</h2>

  <!-- Affichage de la vidéo si elle existe -->
  <div *ngIf="lesson?.videoUrl" class="video-container">
    <iframe [src]="lesson.videoUrl | safeUrl" frameborder="0" allowfullscreen></iframe>
  </div>

  <!-- Affichage du contenu -->
  <div class="lesson-content">
    <p>{{ lesson.content }}</p>
  </div>

  <!-- Affichage du lien vers le PDF s’il existe -->
  <div *ngIf="lesson?.pdfUrl" class="pdf-link">
    <a [href]="lesson.pdfUrl" target="_blank">Voir le support PDF</a>
  </div>

  <!-- Bouton pour accéder au quiz si c'est la dernière leçon du chapitre -->
  <div *ngIf="showQuizButton" class="quiz-button">
    {{courseId}}-{{chapterId}}
    <a [routerLink]="['/courses', courseId, 'chapters', chapterId, 'quiz']" class="btn btn-primary">
      Passer le quiz du chapitre
    </a>
  </div>
</div>
